{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://kit.fontawesome.com/982cbbeedc.js" crossorigin="anonymous"></script>
		{% tailwind_css %}
</head>
<body class="bg-white font-serif leading-normal tracking-normal">

<div class="header shadow-md w-full bg-white p-2">

    <div class="flex items-center px-2">
        <div class="img-container">
            <img src="{% static 'img/profile_placeholder.jpg' %}" class="rounded-full max-w-10">
        </div>

        <div class="profile w-full mx-3">
            <h1 class="font-bold">Cahya Mustofa</h1>
            <p>521041114</p>
        </div>

        <button><i class="fa-solid fa-xmark fa-2x"></i></button>

    </div>
</div>

<div class="grid grid-cols-5 w-full">
    <div class="sidemenu bg-green-700 h-screen">
        <ul>
            <li class="font-bold text-white">
                <a href="{% url 'SIA_Tailwind:datasiswa' %}" class="m-5 mt-5">Data Siswa</a>
                <div class="line h-0.5 bg-slate-300 my-3"></div>
            </li>
            <li class="font-bold text-white">
                <a href="{% url 'SIA_Tailwind:dataguru' %}" class="m-5">Data Guru</a>
                <div class="line h-0.5 bg-slate-300 my-3"></div>
            </li>
            <li class="font-bold text-white">
                <a href="{% url 'SIA_Tailwind:datamapel' %}" class="m-5">Data Mapel</a>
                <div class="line h-0.5 bg-slate-300 my-3"></div>
            </li>
        </ul>
    </div>


    <div class="main h-full col-span-4 w-full p-8">

        <form action="#" method="post">
            {% csrf_token %}
            <div class="grid grid-cols-2 w-full">
                <h1 class="font-bold">Data Siswa</h1>
                <button class="rounded bg-green-700 text-white justify-self-end py-2 px-3 hover:bg-green-500">Input Data</button>
             </div>

            <div class="search grid grid-cols-4 mt-12 gap-10 items-center">

                <div class="searchbox">
                    <p>Kelas</p>
                    <select name="assign" class="border-gray focus:border-purple rounded w-full">
                        <option value="" disabled selected hidden>Pilih Kelas</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                </div>

                <div class="searchbox">
                    <p>Jurusan</p>
                    <select name="assign" class="border-gray focus:border-purple rounded w-full">
                        <option value="" disabled selected hidden>Jurusan</option>
                        <option>Teknik Mesin</option>
                        <option>Teknik Kendaraan Ringan</option>
                        <option>Teknik Komputer Jaringan</option>
                    </select>
                </div>

                <div class="searchbox">
                    <p>Rombel</p>
                    <select name="assign" class="border-gray focus:border-purple rounded w-full">
                        <option value="" disabled selected hidden>Pilih Rombel</option>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                    </select>
                </div>

                <button class="rounded bg-slate-600 text-white justify-self-start w-1/3 h-1/2 hover:bg-slate-700">Cari</button>

            </div>
            <div class="line h-0.5 bg-slate-300 my-5"></div>

            <ul>
                <li>
                    <div class="my-1 items-center">
                        <div class="flex gap-10 w-full cursor-pointer hover:bg-slate-400 w-full py-2" onclick="location.href ='{% url 'SIA_Tailwind:inputdatasiswa' %}'">
                            <p>1</p>
                            <P>5210411114</P>
                            <P>Cahya Mustofa</P>
                        </div>
                    </div>
                    <div class="line h-0.5 bg-slate-300"></div>
                </li>

                <li>
                    <div class="my-1 items-center">
                        <div class="flex gap-10 w-full cursor-pointer hover:bg-slate-400 w-full py-2" onclick="location.href ='{% url 'SIA_Tailwind:inputdatasiswa' %}'">
                            <p>1</p>
                            <P>5210411114</P>
                            <P>Cahya Mustofa</P>
                        </div>
                    </div>
                    <div class="line h-0.5 bg-slate-300"></div>
                </li>
                <li>
                    <div class="my-1 items-center">
                        <div class="flex gap-10 w-full cursor-pointer hover:bg-slate-400 w-full py-2" onclick="location.href ='{% url 'SIA_Tailwind:inputdatasiswa' %}'">
                            <p>1</p>
                            <P>5210411114</P>
                            <P>Cahya Mustofa</P>
                        </div>
                    </div>
                    <div class="line h-0.5 bg-slate-300"></div>
                </li>
                <li>
                    <div class="my-1 items-center">
                        <div class="flex gap-10 w-full cursor-pointer hover:bg-slate-400 w-full py-2" onclick="location.href ='{% url 'SIA_Tailwind:inputdatasiswa' %}'">
                            <p>1</p>
                            <P>5210411114</P>
                            <P>Cahya Mustofa</P>
                        </div>
                    </div>
                    <div class="line h-0.5 bg-slate-300"></div>
                </li>
                <li>
                    <div class="my-1 items-center">
                        <div class="flex gap-10 w-full cursor-pointer hover:bg-slate-400 w-full py-2" onclick="location.href ='{% url 'SIA_Tailwind:inputdatasiswa' %}'">
                            <p>1</p>
                            <P>5210411114</P>
                            <P>Cahya Mustofa</P>
                        </div>
                    </div>
                    <div class="line h-0.5 bg-slate-300"></div>
                </li>





            </ul>





        </form>








    </div>
</div>



</body>
</html>